<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script src="assets/js/script.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

	<title>Juego de Cartas</title>
</head>
<body>
	<div id="app">

		<div class="controls" :class="{ 'not-playing': (!isPlaying || isDone) }">
			<div class="controls-content">
				<h2 v-html="titulo"></h2>
				<p>{{ subtitlo }}</p>
				<button v-if="!isPlaying" @click="jugar">Jugar</button>
				<button v-else>{{ formattedTimeLeft }}</button>
			</div>
		</div>
	
		<div class="cards-container" v-if="!isLoading">
			
			<div v-for="card in cards" class="card">

				<div class="rotatableDiv" :class="{ rotate: card.isFlipped }" @mousedown="darVuelta(card)">

					<div class="back"></div>
					
					<div class="front" :style="{ backgroundColor: card.color }">
						<div class="front__img"><img :src="card.img"></div>
						<p class="front__desc">{{ card.nombreCompleto }}</p>
					</div>
				</div>


			</div>

		</div>

		<div class="loading-modal" v-if="isLoading">
			<div class="modal">
				<h3>Cargando las cartas</h3>
				<i class="fa-solid fa-spinner fa-spin-pulse"></i>
			</div>
		</div>

	</div>

</body>
</html>