// Imports
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

// Variables
:root {
	// Colors
	--c-white: #f1f1f1;
	--c-yellow: #E89C5A;
	--c-maroon: #A44A3F;
	--c-blue: #4E598C;
	--c-green: #4a7946;
	--c-gray: #616161;

	--c-bg-dark: #171717;
	--c-bg-card: #3c3c3c;
	--c-text: var(--c-white);

	// Fonts
	--ff-nunito: 'Nunito', sans-serif;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-extrabold: 800;
	--fw-black: 900;
}

// Scroll
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--c-bg-card);
}
::-webkit-scrollbar-thumb {
  background-color: var(--c-yellow);
	border-radius: 5rem;
	transition: background-color 300ms ease;

	&:hover {
		background-color: #885e3c;
	}
}

// Global styles
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--c-bg-dark);
	font-family: var(--ff-nunito);
	color: var(--c-text);
	position: relative;
}

.clicked {
	color: #E89C5A;
}

.controls {
	width: 100%;
	height: 10rem;
	background-color: var(--c-bg-card);
	position: sticky;
	z-index: 10;
	top: 0;
	left: 0;
	padding: 1rem 3rem;
	box-shadow: 0px 10px 57px 0px rgba(0,0,0,0.24);
	text-align: center;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	margin: 3rem;
}

.card {
	cursor: pointer;
	width: 100%;
	height: 20vw;
	border-radius: .25rem;
	transition: transform 150ms ease;

	&:hover {
		transform: scale(1.1);
	}
	
	.rotatableDiv {
		transform-style: preserve-3d;
		width: 100%;
		height: 100%;
		position: relative;

		transform: rotateY(0);
		transition: transform 0.35s cubic-bezier(0.455, 0.030, 0.515, 0.955);
	}

	.rotate {
		transform: rotateY(180deg);
	}

	.back {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		background-color: var(--c-bg-card);

		background-image: url("../img/wand-sparkles.svg");
		background-repeat: no-repeat;
    background-size: 4rem;
    background-position: center;
	}

	.front {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		transform: rotateY(180deg);
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;

		&__img {
			position: relative;
			width: 90%;
			height: 95%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__desc {
			text-align: left;
			position: absolute;
			bottom: .5rem;
			left: 0;
			padding: .35rem .5rem .35rem .25rem;
			background-color: var(--c-bg-dark);
			width: auto;
			border-top-right-radius: 5rem;
			border-bottom-right-radius: 5rem;
		}
	}
}