// Imports
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

// Variables
:root {
	// Colors
	--c-white: #f1f1f1;
	--c-yellow: #E89C5A;
	--c-maroon: #A44A3F;
	--c-blue: #4E598C;
	--c-green: #4a7946;
	--c-gray: #888888;

	--c-bg-dark: #171717;
	--c-bg-card: #3c3c3c;
	--c-text: var(--c-white);

	// Fonts
	--ff-nunito: 'Nunito', sans-serif;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-extrabold: 800;
	--fw-black: 900;
}

// Global styles
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--c-bg-dark);
	font-family: var(--ff-nunito);
	color: var(--c-text);
}

.clicked {
	color: #E89C5A;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	margin: 3rem;
}

.card {
	background-color: var(--c-bg-card);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: .25rem;
	padding: 1rem .5rem;
	gap: 1rem;
	border: 1px solid;
	transition: transform 150ms ease;
	cursor: pointer;

	&__img {
		display: flex;
		justify-content: center;
		width: 7.5rem;
		height: 10rem;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&:hover {
		transform: scale(1.05);
	}
}
